
body {
    margin: 0;
    padding: 0;
}

/*........................Header*/

.navbar-header {
    word-spacing: 8px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.photo {
    background-image: url("../../assets/book1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.heading {
    text-align: center;
}

.btn-group-vertical a {
    margin: 8px 0px;
}








 
/*.........................MAIN*/

/*.chart {
    overflow: auto;
}*/