* {
    margin: 0;
    padding: 0;
}

/*---------------------Header*/

.photo {
    background-image: url("../../assets/book1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

blockquote p {
    font-size: 35px;
    color: #fff;
    padding-top: 50px;
}


/*---------------------Description*/

.container-fluid {
    padding: 0px;
}

.box {
    width: 100%;
    background-color: #676767;
    margin: 0;
    padding: 0;
}


.description {
    text-align: center;
    margin: 0;
    padding: 30px 150px;
    color: #fff;
    font-size: 22px;
    word-spacing: 3px;
}

/*-----------------------Menu*/

.navigation li a {
    padding: 40px 50px;
}




/*------------------------Main*/

.main {
    min-height: 2500px;
}

h3 {
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 45px;
    margin: 0;
}

.title {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.about {
    font-size: 22px;
    padding-bottom: 20px;
}

ul li {
    font-size: 22px;
}

.border {
     white-space: nowrap;
     overflow-x: visible;
     overflow-y: hidden;
     width: 1600px;

}


/*------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    width: 100%;
}

.row-footer {
    width: 100%;
    
}

.contact {
    font-size: 20px;
    color: #fff;
    margin: 30px;
    text-align: center;
}

.button {
    text-align: right;
}

.button a {
    margin: 10px;
}

.copyright {
    margin: 10px;
    text-align: right;
}

.center-form form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

/*----------------------Media Queries*/

@media screen and (max-width: 767px) {
    blockquote p {
        font-size: 30px;
        color: #F08080;
    }
}
